.header {
	
	margin-top:7px;
}

.menu {
	float:right;
	margin-right:25px;
	
	
}

ul li {
	list-style: none;
	display:inline-block;
}

#login {
	background-color:#4486F7;
	color:white;
	padding:6px 12px;
	font-weight: bold;
	
}

.menu ul li a {
	padding:0px 10px;
	text-decoration:none;
	font-size: small;
	font-family:arial;
	color:#7B7B7B;

}

.menu li a img {
	vertical-align:middle;
}


.content {
	display:block;
	position:absolute;
	height:300px;
	width:800px;
	right:0;
	left:0;
	margin:auto;
	
	margin-top:170px;
	
background-color:white;
text-align:center;


}
.logo {
	position:relative;
	right:0;
	left:0;
	top:20px;
	margin:auto;
	height:92px;
	width:272px;
background: url(https://www.google.co.uk/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png) no-repeat center center;
background-size:cover;

}

input {
	position:absolute;
	right:0;
	left:0;
		top:150px;
	margin:auto;

	height:34px;
	width:453px;
	border: 1px solid #E7E7E7;
	border-bottom:1px solid #C4C4C4;
	box-shadow: #E1E1E1 0 2px 2px 2px;
	font-size:20px;


}

form > img {
	position:relative;
	margin-top:65px;
	margin-left:420px;

}

form > img:hover {
cursor: pointer;
}

.search-menu {
	position:relative;
	margin:auto;


}

.search-menu ul {
	
	margin-left:-40px;
}

.search-menu ul li {
	padding:10px 5px;
}

.btn {
	text-decoration:none;
	background-color:#F6F6F6;
	color:#7B7B7B;
	border-radius: 1px;
	padding:10px 20px;
	font-family:arial;
	font-size:12px;
	font-weight: bold;
}

.btn:hover {
	color:#222252;
	border:1px solid #F2F2F2;
	padding:10px 20px;
}

.footer {

	position:absolute;
	bottom:0;
	height:50px;
	width:100%;
	background-color:#F2F2F2;
}

.left-menu {
	float:left;
}

.right-menu {
	float:right;
}

.footer a {
	font-family: arial;
	font-size:small;
	color:#7B7B7B;
}

.footer a:hover {
	text-decoration:underline;
}

.footer li {
	padding:0 10px;
}

.left-menu a {
	text-decoration:none;
}

.right-menu a {
		text-decoration:none;
}



