body {
	background-color:blue;
	text-align:center;
}

.test {
	background-color: white;
	width: 20px;
	height: 20px;
}

.test2 {
	background-color: white;
	margin-top:20px;
	width: 20px;
	height: 20px;
}

table {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	background-color: red;
	height:400px;
	width:400px;

}

td {

	width:100px;
	height:100px;
}

img {
	height:100px;
	width:100px;
	margin-bottom:-5px;

}

.invisible {
	opacity:0;
}

.visible {
	height:50px !important;
	width:50px !important;
	opacity: 100 !important;
}


